<a href="https://colab.research.google.com/github/pythonpanter/gas-de/blob/main/Gasimporte_DE_0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gasimporte nach Deutschland
in Gigawattstunden pro Tag

01.01.2022 - 12.03.2023

In [ ]:
# Import libraries
import pandas as pd
import plotly.graph_objs as go

In [ ]:
# Read in data

# Source is https://static.dwcdn.net/data/V3fbe.csv via https://www.bundesnetzagentur.de/DE/Fachthemen/ElektrizitaetundGas/Versorgungssicherheit/aktuelle_gasversorgung/start.html
# Data as of 13 March 2023
url = '/content/drive/MyDrive/data/Gasquellen_DE.csv'

# Read csv from url 
df = pd.read_csv(url)

# Rename column '.' to 'Datum'
df.rename(columns={'.': 'Datum'}, inplace=True)

df

,Datum,Tschechien,Niederlande,Belgien,Polen,Norwegen,Dänemark,Frankreich,Österreich,Schweiz,Russland,LNG,Deutschland Import
0,01.01.2022,647,534,506,0,1260,0,0,0,62,1639,0,4647
1,02.01.2022,644,601,541,0,1241,0,0,1,0,1652,0,4679
2,03.01.2022,654,621,490,0,1234,0,0,0,0,1633,0,4632
3,04.01.2022,643,612,415,0,1246,0,0,0,0,1631,0,4547
4,05.01.2022,644,657,121,0,1297,0,0,0,0,1652,0,4372
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,08.03.2023,1,792,274,0,1241,0,0,2,0,0,79,2388
432,09.03.2023,0,796,366,0,1292,0,0,0,9,0,92,2554
433,10.03.2023,0,747,518,0,1225,0,0,6,101,0,132,2728
434,11.03.2023,0,739,597,0,1267,0,0,0,46,0,63,2711
435,12.03.2023,0,715,647,0,1291,0,0,16,112,0,49,2830

In [ ]:
from datetime import datetime

date1 = '2022-01-01'
date2 = '2023-03-12'

date1 = datetime.strptime(date1, '%Y-%m-%d')
date2 = datetime.strptime(date2, '%Y-%m-%d')

delta = date2 - date1
delta.days + 1

436

In [ ]:
# Set the format of column 'Datum' from German date DD.MM.YYY to date YYYY-MM-DD
df['Datum'] = pd.to_datetime(df['Datum'], format='%d.%m.%Y').dt.strftime('%Y-%m-%d')
df

,Datum,Tschechien,Niederlande,Belgien,Polen,Norwegen,Dänemark,Frankreich,Österreich,Schweiz,Russland,LNG,Deutschland Import
0,2022-01-01,647,534,506,0,1260,0,0,0,62,1639,0,4647
1,2022-01-02,644,601,541,0,1241,0,0,1,0,1652,0,4679
2,2022-01-03,654,621,490,0,1234,0,0,0,0,1633,0,4632
3,2022-01-04,643,612,415,0,1246,0,0,0,0,1631,0,4547
4,2022-01-05,644,657,121,0,1297,0,0,0,0,1652,0,4372
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,2023-03-08,1,792,274,0,1241,0,0,2,0,0,79,2388
432,2023-03-09,0,796,366,0,1292,0,0,0,9,0,92,2554
433,2023-03-10,0,747,518,0,1225,0,0,6,101,0,132,2728
434,2023-03-11,0,739,597,0,1267,0,0,0,46,0,63,2711
435,2023-03-12,0,715,647,0,1291,0,0,16,112,0,49,2830

In [ ]:
# Any duplicates in 'Datum'?
df['Datum'].nunique()

436

In [ ]:
# Check plausbility of data and check for missing values
df.isnull().sum()

Datum                 0
Tschechien            0
Niederlande           0
Belgien               0
Polen                 0
Norwegen              0
Dänemark              0
Frankreich            0
Österreich            0
Schweiz               0
Russland              0
LNG                   0
Deutschland Import    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Datum               436 non-null    object
 1   Tschechien          436 non-null    int64
 2   Niederlande         436 non-null    int64
 3   Belgien             436 non-null    int64
 4   Polen               436 non-null    int64
 5   Norwegen            436 non-null    int64
 6   Dänemark            436 non-null    int64
 7   Frankreich          436 non-null    int64
 8   Österreich          436 non-null    int64
 9   Schweiz             436 non-null    int64
 10  Russland            436 non-null    int64
 11  LNG                 436 non-null    int64
 12  Deutschland Import  436 non-null    int64
dtypes: int64(12), object(1)
memory usage: 44.4+ KB

## Deutsche Gasimporte in kwh, 01.01.22 - 12.03.23

In [ ]:
# Select all columns except 'Datum'
cols_to_sum = df.columns.difference(['Datum'])

# Sum all columns except 'Datum'
total_kwh = df[cols_to_sum].sum()

# Create a new DataFrame and sum values
total_kwh = pd.DataFrame({'Quelle': total_kwh.index, 'Summe (kwh)': total_kwh.values})

# Sort the new DataFrame in descending order
total_kwh.sort_values(by='Summe (kwh)', ascending=False, inplace=True)
total_kwh

                Quelle  Summe (kwh)
1   Deutschland Import      1650791
6             Norwegen       564492
8             Russland       313810
5          Niederlande       313773
0              Belgien       302906
10          Tschechien       116838
9              Schweiz        16870
4                  LNG        10333
3           Frankreich         7743
7                Polen         2911
11          Österreich          982
2             Dänemark          118

In [ ]:
# Delete the first row and reset the index
total_kwh = total_kwh.iloc[1:].copy()
total_kwh.reset_index(inplace=True, drop=True)
total_kwh.index = total_kwh.index + 1

check_sum_1 = total_kwh

# Define the colors for each country
category_colors = {
    'Norwegen': 'darkred',
    'Russland': 'darkblue',
    'Niederlande': 'orange',
    'Belgien': 'peru',
    'Tschechien': 'teal',
    'Schweiz': 'red',
    'LNG': 'indigo',
    'Frankreich': 'blue',
    'Polen': 'darkgrey',
    'Dänemark': 'darkgrey',
    'Österreich': 'darkgrey'
}

total_kwh['color'] = total_kwh['Quelle'].map(category_colors)

total_kwh

         Quelle  Summe (kwh)     color
1      Norwegen       564492   darkred
2      Russland       313810  darkblue
3   Niederlande       313773    orange
4       Belgien       302906      peru
5    Tschechien       116838      teal
6       Schweiz        16870       red
7           LNG        10333    indigo
8    Frankreich         7743      blue
9         Polen         2911  darkgrey
10   Österreich          982  darkgrey
11     Dänemark          118  darkgrey

In [ ]:
# Define the common trace parameters
trace_params = {
    'x': total_kwh['Quelle'],
    'y': total_kwh['Summe (kwh)'],
    'text': total_kwh['Summe (kwh)'],
    'marker_color': total_kwh['color'],
    'textposition': 'auto',
    'texttemplate': '%{text:.3s}',
}

# Define the common layout parameters
layout_params = {
    'title_x': 0.5,
    'title_xanchor': 'center',
    'title_font_size': 24,
    'font': {'family': 'Arial Black'},
    'width': 1000,
    'height': 500,
    'margin': {'t': 100, 'b': 50, 'l': 50, 'r': 50},
    'plot_bgcolor': 'white',
    'xaxis': {
        'title': '',
        'showgrid': False,
    },
    'yaxis': {
        'title': '',
        'showgrid': False,
        'showticklabels': False}
}

In [ ]:
# Create a function to reload the trace_params
def reload_trace_params():
    total_kwh['color'] = total_kwh['Quelle'].map(category_colors)
    trace_params['x'] = total_kwh['Quelle']
    trace_params['y'] = total_kwh['Summe (kwh)']
    trace_params['text'] = total_kwh['Summe (kwh)']
    trace_params['marker_color'] = total_kwh['color']

In [ ]:
# Define figure title
text = 'Deutsche Gasimporte in kwh, 01.01.22 - 12.03.23'

# Reload trace_params
reload_trace_params()

# Create a new figure
fig = go.Figure()

# Add a trace to the figure and add the value on top of each bar
fig.add_trace(go.Bar(**trace_params))

# Add a layout to the figure
fig.update_layout(title_text=text, **layout_params)

# Plot the figure
fig.show()

## Deutsche Gasimporte in kwh, 01.01.22 - 30.08.22 (letzte russische Lieferung)

In [ ]:
# Create a new df2 with data only until 30 August 2022 and sort by 'Datum' ascending
df2 = df[df['Datum'] <= '2022-08-30'].copy()
df2

,Datum,Tschechien,Niederlande,Belgien,Polen,Norwegen,Dänemark,Frankreich,Österreich,Schweiz,Russland,LNG,Deutschland Import
0,2022-01-01,647,534,506,0,1260,0,0,0,62,1639,0,4647
1,2022-01-02,644,601,541,0,1241,0,0,1,0,1652,0,4679
2,2022-01-03,654,621,490,0,1234,0,0,0,0,1633,0,4632
3,2022-01-04,643,612,415,0,1246,0,0,0,0,1631,0,4547
4,2022-01-05,644,657,121,0,1297,0,0,0,0,1652,0,4372
...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,2022-08-26,121,497,828,0,1242,0,0,0,0,347,0,3035
238,2022-08-27,121,607,826,0,1269,0,0,0,50,347,0,3220
239,2022-08-28,123,665,827,0,1314,0,0,0,0,347,0,3276
240,2022-08-29,118,757,824,0,1329,0,0,0,0,348,0,3376
241,2022-08-30,178,775,841,0,1317,0,0,0,0,291,0,3402

In [ ]:
# Count the days from 2022-01-01 to 2022-08-30
date1 = '2022-01-01'
date2 = '2022-08-30'

date1 = datetime.strptime(date1, '%Y-%m-%d')
date2 = datetime.strptime(date2, '%Y-%m-%d')

delta = date2 - date1
delta.days + 1

242

In [ ]:
# Sum all columns except 'Datum'
total_kwh = df2[cols_to_sum].sum()

# Create a new DataFrame and sum values
total_kwh = pd.DataFrame({'Quelle': total_kwh.index, 'Summe (kwh)': total_kwh.values})

# Sort the new DataFrame in descending order
total_kwh.sort_values(by='Summe (kwh)', ascending=False, inplace=True)

# Delete the row where 'Quelle' = 'Deutschland Import' and reset the index
total_kwh = total_kwh[total_kwh['Quelle'] != 'Deutschland Import'].reset_index(drop=True)
total_kwh.index = total_kwh.index + 1

check_sum_2 = total_kwh

# Reload trace_params
reload_trace_params()

# Define figure title
text = 'Deutsche Gasimporte in kwh<br>01.01.22 - 30.08.22 (bis zur letzten russischen Lieferung)'

# Create a new figure
fig = go.Figure()

# Add a trace to the figure and add the value on top of each bar
fig.add_trace(go.Bar(**trace_params))

# Add a layout to the figure
fig.update_layout(title_text=text, **layout_params)

# Add a text annotation "0" for all 0 values
for i in range(len(total_kwh)):
    if total_kwh.iloc[i]['Summe (kwh)'] == 0:
        fig.add_annotation(x=total_kwh.iloc[i]['Quelle'], y=total_kwh.iloc[i]['Summe (kwh)'] + 11000, text='0', showarrow=False)

# Plot the figure
fig.show()

In [ ]:
# Save the order so I can use the exact same for the next plot
order = total_kwh['Quelle'].values

# Create a list from 'order'
order = list(order)
order

['Russland',
 'Norwegen',
 'Belgien',
 'Niederlande',
 'Tschechien',
 'Schweiz',
 'Polen',
 'Österreich',
 'Dänemark',
 'Frankreich',
 'LNG']

In [ ]:
# See if the values make sense
total_kwh

         Quelle  Summe (kwh)     color
1      Russland       313810  darkblue
2      Norwegen       309235   darkred
3       Belgien       162851      peru
4   Niederlande       145986    orange
5    Tschechien       114942      teal
6       Schweiz         4049       red
7         Polen         2907  darkgrey
8    Österreich          170  darkgrey
9      Dänemark            0  darkgrey
10   Frankreich            0      blue
11          LNG            0    indigo

## Deutsche Gasimporte in kwh, 31.08.22 - 12.03.23 (nach letzter russischer Lieferung)

In [ ]:
# Create a new df3 with data only from 31 August 2022 and sort by 'Datum' ascending
df3 = df[df['Datum'] >= '2022-08-31'].copy()
df3

,Datum,Tschechien,Niederlande,Belgien,Polen,Norwegen,Dänemark,Frankreich,Österreich,Schweiz,Russland,LNG,Deutschland Import
242,2022-08-31,20,687,822,0,1441,0,0,0,0,0,0,2971
243,2022-09-01,28,708,827,0,1391,0,0,0,0,0,0,2954
244,2022-09-02,53,647,815,0,1231,0,0,8,101,0,0,2855
245,2022-09-03,54,673,824,0,1261,0,0,0,112,0,0,2924
246,2022-09-04,54,668,826,0,1261,0,0,1,81,0,0,2891
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,2023-03-08,1,792,274,0,1241,0,0,2,0,0,79,2388
432,2023-03-09,0,796,366,0,1292,0,0,0,9,0,92,2554
433,2023-03-10,0,747,518,0,1225,0,0,6,101,0,132,2728
434,2023-03-11,0,739,597,0,1267,0,0,0,46,0,63,2711
435,2023-03-12,0,715,647,0,1291,0,0,16,112,0,49,2830

In [ ]:
# Count the days from 2022-01-01 to 2022-08-30
date1 = '2022-08-31'
date2 = '2023-03-12'

date1 = datetime.strptime(date1, '%Y-%m-%d')
date2 = datetime.strptime(date2, '%Y-%m-%d')

delta = date2 - date1
delta.days + 1

194

In [ ]:
# Sum all columns except 'Datum'
total_kwh = df3[cols_to_sum].sum()

# Create a new DataFrame and sum values
total_kwh = pd.DataFrame({'Quelle': total_kwh.index, 'Summe (kwh)': total_kwh.values})

# Delete the row where 'Quelle' = 'Deutschland Import' and reset the index
total_kwh = total_kwh[total_kwh['Quelle'] != 'Deutschland Import'].reset_index(drop=True)
total_kwh.index = total_kwh.index + 1

total_kwh

         Quelle  Summe (kwh)
1       Belgien       140055
2      Dänemark          118
3    Frankreich         7743
4           LNG        10333
5   Niederlande       167787
6      Norwegen       255257
7         Polen            4
8      Russland            0
9       Schweiz        12821
10   Tschechien         1896
11   Österreich          812

In [ ]:
order

['Russland',
 'Norwegen',
 'Belgien',
 'Niederlande',
 'Tschechien',
 'Schweiz',
 'Polen',
 'Österreich',
 'Dänemark',
 'Frankreich',
 'LNG']

In [ ]:
# Specify the order of the dataframe using the 'order' list
total_kwh['Quelle'] = pd.Categorical(total_kwh['Quelle'], categories=order, ordered=True)
total_kwh = total_kwh.sort_values('Quelle')

# Give 'Polen' the 'Summe (kwh)' of 0 for formatting reasons - will look into this later
total_kwh.loc[total_kwh['Quelle'] == 'Polen', 'Summe (kwh)'] = 0

total_kwh

         Quelle  Summe (kwh)
8      Russland            0
6      Norwegen       255257
1       Belgien       140055
5   Niederlande       167787
10   Tschechien         1896
9       Schweiz        12821
7         Polen            0
11   Österreich          812
2      Dänemark          118
3    Frankreich         7743
4           LNG        10333

In [ ]:
check_sum_3 = total_kwh

# Define figure title
text = '31.08.22 - 12.03.23 (nach letzter russischer Lieferung)'

# Reload trace_params
reload_trace_params()

# Create a new figure
fig = go.Figure()

# Add a trace to the figure and add the value on top of each bar
fig.add_trace(go.Bar(**trace_params))

# Add a layout to the figure
fig.update_layout(title_text=text, **layout_params)

# Add a text annotation "0" for all 0 values
for i in range(len(total_kwh)):
    if total_kwh.iloc[i]['Summe (kwh)'] == 0:
        fig.add_annotation(x=total_kwh.iloc[i]['Quelle'], y=total_kwh.iloc[i]['Summe (kwh)'] + 11000, text='0', showarrow=False)

# Plot the figure
fig.show()

In [ ]:
# Total
check_sum_1

         Quelle  Summe (kwh)     color
1      Norwegen       564492   darkred
2      Russland       313810  darkblue
3   Niederlande       313773    orange
4       Belgien       302906      peru
5    Tschechien       116838      teal
6       Schweiz        16870       red
7           LNG        10333    indigo
8    Frankreich         7743      blue
9         Polen         2911  darkgrey
10   Österreich          982  darkgrey
11     Dänemark          118  darkgrey

In [ ]:
# Pre 30 Aug 22
check_sum_2

         Quelle  Summe (kwh)     color
1      Russland       313810  darkblue
2      Norwegen       309235   darkred
3       Belgien       162851      peru
4   Niederlande       145986    orange
5    Tschechien       114942      teal
6       Schweiz         4049       red
7         Polen         2907  darkgrey
8    Österreich          170  darkgrey
9      Dänemark            0  darkgrey
10   Frankreich            0      blue
11          LNG            0    indigo

In [ ]:
# Post 30 Aug 22
check_sum_3

         Quelle  Summe (kwh)     color
8      Russland            0  darkblue
6      Norwegen       255257   darkred
1       Belgien       140055      peru
5   Niederlande       167787    orange
10   Tschechien         1896      teal
9       Schweiz        12821       red
7         Polen            4  darkgrey
11   Österreich          812  darkgrey
2      Dänemark          118  darkgrey
3    Frankreich         7743      blue
4           LNG        10333    indigo

In [ ]:
# Check if the 'Summe (kwh)' columns of check_sum_2 plus check_sum_3 are adding up to check_sum_1
check_sum_2['Summe (kwh)'].sum() + check_sum_3['Summe (kwh)'].sum() == check_sum_1['Summe (kwh)'].sum()

True

In [ ]:
# Checking if total is correct (1650776)
check_sum_2['Summe (kwh)'].sum() + check_sum_3['Summe (kwh)'].sum()

1650776